body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

#appBar-Container {
  display: flex;
}

#UserHome {
  text-align: center;
}

#logout {
  display: flex;
  align-items: flex-end;
  align-content: flex-end;
}

/* Login Component */
#login-title {
  text-align: center;
}

#googleAuth {
  margin: 5%;
}

#facebookAuth {
  margin: 5%;
}

.flex-item {
  display: flex;
  flex-wrap: wrap;
  width: 40%;
}

#remote-media {
  border-radius: 50%;
  flex-wrap: wrap;
}
